[submodule "refs/thc"]
	path = refs/thc
	url = https://github.com/social-dist0rtion-protocol/thc
[submodule "refs/DIPs"]
	path = refs/DIPs
	url = https://github.com/efdevcon/DIPs
[submodule "refs/nums"]
	path = refs/nums
	url = https://github.com/cartridge-gg/nums
[submodule "refs/glitchbomb"]
	path = refs/glitchbomb
	url = https://github.com/l10labsxwinwin/glitchbomb
[submodule "refs/death-mountain"]
	path = refs/death-mountain
	url = https://github.com/Provable-Games/death-mountain
[submodule "contracts/refs/ronins-pact"]
	path = contracts/refs/ronins-pact
	url = https://github.com/cartridge-gg/ronins-pact
[submodule "refs/dopewars"]
	path = refs/dopewars
	url = https://github.com/cartridge-gg/dopewars
